<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Image Upload Form</title>
    <style>
      #preview {
        margin: 10px;
        max-width: 100%;
        max-height: 100%;
      }
    </style>
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="http://127.0.0.1:8000/upload/"
          method="POST"
          enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
        <label for="image">Choose an image to upload:</label>
        <input type="file"
               id="image"
               name="image"
               accept="image/*"
               onchange="previewImage(event)"
               required>
        <br>
        <label for="id_category">Choose image category:</label>
        <select id="id_category"
                name="categoryByUser"
                required>
          <option value="food" selected>Food</option>
          <option value="nature">Nature</option>
          <option value="city">City</option>
        </select>
        <br><br>
        <img id="preview" src="">
        <br><br>
        <input type="submit"
               value="Upload Image">
    </form>

    <script>
      function previewImage(event) {
        const preview = document.getElementById('preview');
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function() {
          preview.src = reader.result;
        };

        if (file) {
          reader.readAsDataURL(file);
        } else {
          preview.src = "";
        }
      }
    </script>
</body>
</html>
